@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 1242px;
$bgColor: #fcfff8;
$color: #fffb88;

html,body{
    width: 10rem;
}
.zmiti-main-ui {

    width: 10rem !important;
    left: 0;
    top: 0;
    overflow: hidden;
    background: #f01;
    
    &.android{
        position: fixed !important;
    }

    &.show {
        z-index: 90;
        opacity: 1;
    }

    @include displayBox(horizontal);

    z-index: -1;
    opacity: 0;

   .zmiti-frame-C {

       -webkit-overflow-scrolling: touch;
       overflow-y: auto;
       overflow-x:hidden;
       height: 100vh !important;
       //position: fixed !important;
       z-index: 9999002;
       
       width: 10rem !important;
       background: #fff;



       iframe {
           width: 10rem;
           border: 1px solid transparent;
           box-sizing: border-box;
           left: 0;
           top: 0;
           position: relative;
           overflow: hidden;
           height: 100vh;
           padding: 0;
           margin: 0;
       }

       .zmiti-back {
           @include pos(f);
           z-index: 1001;
           left: 8.5rem;
           bottom: .5rem;
           width: 1.4rem;
           height: 1.4rem;
       }
   }
}

@-webkit-keyframes info {
    from {
        -webkit-transform: translate3d(0, -30px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes waiting {
    to {
        -webkit-transform: rotate(360deg);
    }
}
