@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 10rem;
$bgColor: #4081dd;

.zmiti-index-main-ui {
    overflow: hidden;
    width: 10rem;
    left: 0;

    &.index-enter-active,
    &.index-leave-active {
        @include transition(1s);
    }

    &.index-enter,
    &.index-leave-to {
        opacity: 0;
    }

    z-index: 80;

    &.show {
        opacity: 1;
    }

    .zmiti-face {
        @include pos(a);

        right: 0;
        top: 0;
        opacity: 0;
        z-index: 120;
    }

    .zmiti-data-list {
        $color: #113e99;

        width: 10rem;
        margin: 0 auto;

        .zmiti-list-item {
            

            @include pos(r);

            margin:0 0 1rem 0;
           

            &:before {
                content: "";

                @include pos(a);

                width: $viewW;
                border-bottom: 16px solid #eaeaea;
                bottom: -30px;
                left: 0;
            }

            &:last-of-type {
                &::before {
                    //border-bottom: none;
                }
            }
        }

        .zmiti-data-like-comment {
            @include displayBox(horizontal);

            -webkit-box-pack: start;
            height: 1.5rem;
            line-height: 1.5rem;
            width: 9.2rem;
            margin: 0 auto;

            &.zmiti-single{
                &>div {
                    &:nth-of-type(2) {
                        &:before {
                            content: "";
                            display: none;
                        }
                    }
                }
            }

            & > div {
                margin-right:1rem;
                @include pos(r);
                color:#666;
                font-size:.4rem;
                &:nth-of-type(2){
                    img{
                    }
                    &:before{
                        content: "";
                        width: 1rem;
                        height: 1rem;
                        @include pos(a);
                        @include transform(rotate(45deg));
                        background: #eaeaea;
                        left: -.2rem;
                        top: 92%;
                        z-index: -1;
    
                    }
                }
            }

            img {
                width: .6rem;
            }
        }

        .zmiti-comment-list {
            width: 8.6rem;
            margin: 0 auto;
            background: #eaeaea;
            padding: .4rem;

            @include br(4px);
            @include pos(r);
            font-size:.4rem;

            &:before {
                content: "";
                width: 50px;
                height: 50px;

                @include pos(a);
                @include transform(rotate(45deg));
                display: none;
                opacity:0;

                background: #eaeaea;

                @include br(2px);

                left: 164px;
                top: -6px;
                z-index: -1;
            }

            & > div {
                @include displayBox(horizontal);

                -webkit-box-align: start;
                margin: 0 0 10px 0;

                & > div {
                    &:nth-of-type(2) {
                        -webkit-box-flex: 1;
                        color: #999;
                    }

                    &:nth-of-type(1) {
                        //width: 180px;
                        color: $color;
                    }
                }
            }
        }

        .zmiti-item-date {
            text-align: center;
            color: $color;
            margin: .5rem auto .3rem;
            padding-top: .5rem;
             
            @include displayBox(horizontal);
            & > div {
                &:nth-of-type(2) {
                    margin: 0 10px;
                    font-size: .5rem;
                    span {
                        font-size:.3rem;
                    }
                }

                &:nth-of-type(1), &:nth-of-type(3) {
                    @include pos(r);

                    width: 1.3rem;
                    height: 3px;
                    background: $color;

                    &:before {
                        content: '';

                        @include pos(a);

                        width: .1rem;
                        height: .1rem;

                        @include br;

                        border: 1px solid $color;
                        right: -2px;
                        top: -.04rem;
                        background: #fff;
                    }
                }

                &:nth-of-type(3) {
                    &:before {
                        content: "";
                        left: -2px;
                        right: auto;
                    }
                }
            }
        }

        .zmiti-banner-list {
            overflow: hidden;
            width: 9rem;
            margin: 0 auto;


            .zmiti-subimg {
                margin-bottom: 10px;
            }

            img {
                width: 100%;
                height: auto;
            }

            ul {
                @include displayBox(horizontal);

                -webkit-box-pack: justify;
                -webkit-box-align: start;
            }

            li {
                width: 400px;

                @include pos(r);

                overflow: hidden;

                .zmiti-banner-item-mask {

                    @include pos(r);
                    font-size:.4rem;

                    color: #333;
                    margin-top:.2rem;
                    
                }

                a {
                    display: block;

                    @include pos(r);
                }

                .zmiti-banner-item-content {
                    @include pos(a);

                    width: 100%;
                    height: 80px;
                    text-indent: 10px;
                    line-height: 80px;
                    background: rgba(0, 0, 0, 0.6);
                    left: 0;
                    bottom: 0;
                    color: #fff;
                }
            }
        }
    }

    .zmiti-copyright {
        background: #005192;
        font-size: 44px;
        color: #fff;
        text-align: center;
        height: 1.3rem;
        line-height: 1.3rem;

        @include pos(a);

        bottom: 0;
        width: 100%;
    }

    .zmiti-logo {
        @include pos(a);

        width: 60px;
        bottom: 40px;
        left: 70px;
        z-index: 100;
    }

    

    @-webkit-keyframes shake {
        to {
            @include transform(translate3d(0, -10px, 0) scale(0.99));
        }
    }
}
