@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #4081dd;

.zmiti-index-main-ui {
    overflow: hidden;
    width: $viewW !important;
    left: 0;

    &.index-enter-active,
    &.index-leave-active {
        @include transition(1s);
    }

    &.index-enter,
    &.index-leave-to {
        opacity: 0;
    }

    z-index: 80;

    &.show {
        opacity: 1;
    }

    .zmiti-face {
        @include pos(a);

        right: 0;
        top: 0;
        opacity: 0;
        z-index: 120;
    }

    .zmiti-data-list {
        $color: #113e99;

        width: 750px;
        margin: 20px auto;

        .zmiti-list-item {
            padding-bottom: 20px;
            margin-top: 20px;

            @include pos(r);

            &:before {
                content: "";

                @include pos(a);

                width: 750px;
                border-bottom: 16px solid #eaeaea;
                bottom: -30px;
                left: 0;
            }

            &:last-of-type {
                &::before {
                    //border-bottom: none;
                }
            }
        }

        .zmiti-data-like-comment {
            @include displayBox(horizontal);

            -webkit-box-pack: start;
            height: 100px;
            line-height: 100px;
            width: 730px;
            margin: 0 auto;

            &.zmiti-single{
                &>div {
                    &:nth-of-type(2) {
                        &:before {
                            content: "";
                            display: none;
                        }
                    }
                }
            }

            & > div {
                margin-right: 60px;
                @include pos(r);
                &:nth-of-type(2){
                    img{
                        width: 40px;
                    }
                    &:before{
                        content: "";
                        width: 50px;
                        height: 50px;
    
                        @include pos(a);
                        @include transform(rotate(45deg));
                        background: #eaeaea;
    
    
                        left: -2px;
                        top: 92%;
                        z-index: -1;
    
                    }
                }
            }

            img {
                width: 40px;
            }
        }

        .zmiti-comment-list {
            width: 680px;
            margin: 0 auto;
            background: #eaeaea;
            padding: 20px;

            @include br(10px);
            @include pos(r);
            font-size:24px;

            &:before {
                content: "";
                width: 50px;
                height: 50px;

                @include pos(a);
                @include transform(rotate(45deg));
                display: none;
                opacity:0;

                background: #eaeaea;

                @include br(2px);

                left: 164px;
                top: -6px;
                z-index: -1;
            }

            & > div {
                @include displayBox(horizontal);

                -webkit-box-align: start;
                margin: 0 0 10px 0;

                & > div {
                    &:nth-of-type(2) {
                        -webkit-box-flex: 1;
                        color: #999;
                    }

                    &:nth-of-type(1) {
                        //width: 180px;
                        color: $color;
                    }
                }
            }
        }

        .zmiti-item-date {
            text-align: center;
            color: $color;

            @include displayBox(horizontal);

            margin: 60px auto 20px;

            & > div {
                &:nth-of-type(2) {
                    margin: 0 10px;
                    font-size: 34px;

                    span {
                        font-size: 22px;
                    }
                }

                &:nth-of-type(1), &:nth-of-type(3) {
                    @include pos(r);

                    width: 100px;
                    height: 2px;
                    background: $color;

                    &:before {
                        content: '';

                        @include pos(a);

                        width: 6px;
                        height: 6px;

                        @include br;

                        border: 2px solid $color;
                        right: 0;
                        top: -4px;
                        background: #fff;
                    }
                }

                &:nth-of-type(3) {
                    &:before {
                        content: "";
                        left: 0;
                        right: auto;
                    }
                }
            }
        }

        .zmiti-banner-list {
            overflow: hidden;
            width: 720px;
            margin: 0 auto;

            .zmiti-subimg {
                margin-bottom: 10px;
            }

            img {
                width: 100%;
                height: auto;
            }

            ul {
                @include displayBox(horizontal);

                -webkit-box-pack: justify;
                -webkit-box-align: start;
            }

            li {
                width: 400px;

                @include pos(r);

                overflow: hidden;

                .zmiti-banner-item-mask {

                    @include pos(r);

                    color: #333;
                    margin-top: 20px;
                    
                }

                a {
                    display: block;

                    @include pos(r);
                }

                .zmiti-banner-item-content {
                    @include pos(a);

                    width: 100%;
                    height: 80px;
                    text-indent: 10px;
                    line-height: 80px;
                    background: rgba(0, 0, 0, 0.6);
                    left: 0;
                    bottom: 0;
                    color: #fff;
                }
            }
        }
    }

    .zmiti-copyright {
        background: #005192;
        font-size: 24px;
        color: #fff;
        text-align: center;
        height: 60px;
        line-height: 60px;

        @include pos(a);

        bottom: 0;
        width: 100%;
    }

    .zmiti-logo {
        @include pos(a);

        width: 60px;
        bottom: 40px;
        left: 70px;
        z-index: 100;
    }

    

    @-webkit-keyframes shake {
        to {
            @include transform(translate3d(0, -10px, 0) scale(0.99));
        }
    }
}
